body {
  font-size: 20px;
  padding: 1%;
}

button {
  background: #f0e0ff;
  border: 2px solid #c5bacf;
  font-size: large;
  color: darkslategrey;
  border-radius: 8px;
  padding: 4px 8px;
  -webkit-box-shadow: 2px 2px 2px 0 #a59cad;
          box-shadow: 2px 2px 2px 0 #a59cad;
}

button:hover, button:focus, button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#ajax_message {
  width: auto;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid grey;
  font-weight: bold;
}

#ajax_message:empty {
  display: none;
}

#ajax_message.error {
  background-color: #ffd1d1;
  border-color: darkred;
  color: #410b0b;
}

#ajax_message.success {
  background-color: #f0fff0;
  border-color: darkgreen;
  color: #0a3c06;
}

#ajax_message a {
  color: darkslateblue;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}

#new_member {
  display: none;
  background: #eee;
  padding: 20px 10px;
  position: relative;
}

#new_member input {
  margin: 10px 0;
}
